.container {
  padding: 20px;
}

.title {
  font-size: 2em;
}

.description {
  font-size: 1.2em;
}

.margin {
  margin-left:16px;
}

.link {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }
}