.img {
  border-radius: 50%;
}

.user {
  font-size: 22px;
  display: flex;
  color: black;
  text-decoration: none;
  margin-top: 8px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.whitespace{
  white-space: pre-wrap;
  word-break: break-all;
}

.trash {
  width: 40px;
  height: 40px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  justify-content: right;
}

.inline {
  display: flex;
}
